<form action="/checkout" enctype="multipart/form-data" method="POST">
    <div class="dtl_form">
        <div class="mb-3">
            <div class="clearfix"></div>
            <span class="price001"><%=car.price%> AED / DAY</span>
        </div>
        <input type="hidden" name="booking[car_id]" value="<%=car.id%>" class="form-control01">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="mb-3">
            <label class="title">Set a pick-up date</label>
            <input  type="date" name="booking[start_date]"  value="" class="form-control01">
        </div>
        <div class="mb-3">
            <label class="title">Set a drop-off date</label>
            <input type="date" name="booking[end_date]" value="" class="form-control01">
        </div>
        <div class="mb-3">
            <label class="title">First Name</label>
            <input type="text" class="form-control01" name="booking[first_name]" value="" placeholder="First Name">
        </div>
        <div class="mb-3">
            <label class="title">Last Name</label>
            <input type="text" class="form-control01" name="booking[last_name]" value="" placeholder="Last Name">
        </div>

        <div class="mb-3">
            <label class="title">Mobile No</label>
            <input type="number" class="form-control01" name="booking[mobile]" value="" placeholder="Mobile">
        </div>
        <div class="mb-3">
            <label class="title">Email</label>
            <input type="email" class="form-control01" name="booking[email]"placeholder="Email">
        </div>

        <div class="mb-3">
            <label class="title">Driving License Upload</label>
            <input class="form-control form-control01" type="file" id="formFile" name="booking[driving_license_image]" placeholder="Driving License Upload">
        </div>

        <div class="mb-3">
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-danger">CHECK Availability</button>
            </div>
        </div>

        <ul>
            <li><a href="#"><%=image_tag "sc1.png" , class: "img-fluid", width:"30", alt:"" %></a></li>
            <li><a href="#"><%=image_tag "sc2.png" , class: "img-fluid",  width:"30", alt:"" %></a></li>
            <li><a href="#"><%=image_tag "sc3.png" , class: "img-fluid", width:"30", alt:"" %></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</form>