<%= content_for :nav_header_box do%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Sports & Convertible cars</a></li>
        <li class="breadcrumb-item"><a href="#">Audi</a></li>
        <li class="breadcrumb-item active" aria-current="page">Audi R8 Cabrio</li>
    </ol>
</nav>

<%end%>


<div class="container">
      <div id="gallery">
        <div class="hadding">
          <h1>Audi R8 Cabrio</h1>
        </div>
        <div id="image-gallery">
          <div class="row">
            <div class="col-md-4 col-12 image">
              <div class="img-wrapper">
                <a href="images/arc3.jpg"><%=image_tag "arc3.jpg" , class: "img-responsive" %></a>
                <div class="img-overlay">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12 image">
              <div class="img-wrapper">
                <a href="images/arc1.jpg"><%=image_tag "arc1.jpg" , class: "img-responsive" %></a>
                <div class="img-overlay">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="img-wrapper">
                <a href="images/arc2.jpg"><%=image_tag "arc2.jpg" , class: "img-responsive" %></a>
                <div class="img-overlay">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="img-wrapper">
                <a href="images/arc4.jpg"><%=image_tag "arc4.jpg" , class: "img-responsive" %></a>
                <div class="img-overlay">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="theme_spacing">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12">
            <div class="cars_detail_feat">
              <h1>Rental Terms</h1>
              <div class="mb-3" style="max-width:640px;">
                <div class="row g-0">
                  <div class="col-md-1 col-2">
                    <%=image_tag "crft1.png" , class: "img-fluid rounded-start" , alt: "..." %>
                  </div>
                  <div class="col-md-11 col-10">
                    <div class="card-body01">
                      <h5 class="card-title">Mileage</h5>
                      <p class="card-text">Daily 250 KM included</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3" style="max-width:640px;">
                <div class="row g-0">
                  <div class="col-md-1 col-2">
                    <%=image_tag "crft2.png" , class: "img-fluid rounded-start" , alt: "..." %>
                  </div>
                  <div class="col-md-11 col-10">
                    <div class="card-body01">
                      <h5 class="card-title">Refundable deposit</h5>
                      <p class="card-text">
                        5,000 AED Credit card deposit or 5,000 AED Cash deposit required.

                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3" style="max-width:640px;">
                <div class="row g-0">
                  <div class="col-md-1 col-2">
                    <%=image_tag "crft3.png" , class: "img-fluid rounded-start" , alt: "..." %>
                  </div>
                  <div class="col-md-11 col-10">
                    <div class="card-body01">
                      <h5 class="card-title">Delivery</h5>
                      <p class="card-text">
                        Free delivery across Dubai, additional charges will be applied for other cities
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <h1>Pricing</h1>
              <div class="row">
                <div class="col-md-4 col-12">
                  <a href="#" class="pricing">
                    <h6>Daily</h6>
                    <h4>2500 AED</h4>
                  </a>
                </div>
                <div class="col-md-4 col-12">
                  <a href="#" class="pricing">
                    <h6>Weekly
                      <!--<span>≈ 5%</span>-->
                    </h6>
                    <h4>17,500 AED</h4>
                  </a>
                </div>
                <div class="col-md-4 col-12">
                  <a href="#" class="pricing">
                    <h6>Monthly</h6>
                    <h4>By Request</h4>
                  </a>
                </div>
              </div>
              <p>
                The refundable deposit will be returned within 14-28 days after the car was returned <br>
                back. Additional 5% VAT and 3% Bank charges may be applied.
              </p>
              <div class="row">
                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft4.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Body color</h5>
                            <p class="card-text">Red</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft5.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Interior Color</h5>
                            <p class="card-text">
                              Black</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft6.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Year</h5>
                            <p class="card-text">2020</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft7.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Transmission</h5>
                            <p class="card-text">Automatic</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft8.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Doors / Seats</h5>
                            <p class="card-text">2 / 2</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft9.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Engine
                            </h5>
                            <p class="card-text">
                              4.2</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft10.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">0-100 Km/h</h5>
                            <p class="card-text">
                              3.2</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="mb-3">
                    <div class="features01">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <%=image_tag "crft11.png" , class: "img-fluid rounded-start" , alt: "..." %>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title">Max Speed</h5>
                            <p class="card-text">321</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <h1>Car Description</h1>

              <p>
                This Audi R8 is ready for rent in Dubai, UAE. Made in 2019, this convertible cars costs USD 2,500 per
                day or AED 17,500/weekly. More discounts are also available. Daily 250 km included in rental. Refundable
                deposit of AED 5000 is required.<br><br>

                <strong>Features of Audi R8</strong><br>
                This Audi R8 has 2 seats. This car is a 2 doors convertible cars that has the following features as
                premium audio, rear camera, bluetooth, usb or usb-c, climate control, tinted windows, leather seats,
                apple carplay/android auto etc.<br><br>

                Take this Audi R8 for rent now at Shift gear dubai or rent another vehicle among a big list of our cars!


              </p>
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf1.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Apple CarPlay/Android Auto</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf4.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Third row seats
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf2.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Bluetooth</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf3.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Climate control</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf4.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Cooling seats
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf4.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Heated seats
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf5.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Premium audio</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf6.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Tinted windows</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf7.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Blind spot monitoring

                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf9.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Remote start</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf11.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Rear camera
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf8.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Build in Navigation system</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf10.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">Fabric seats
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                  <div class="mb-3" style="max-width:640px;">
                    <div class="row g-0">
                      <div class="col-md-1 col-2">
                        <%=image_tag "cf12.png" , class: "img-fluid rounded-start" , alt: "..." %>
                      </div>
                      <div class="col-md-11 col-10">
                        <div class="card-body01">
                          <h5 class="card-title">USB or USB-C</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="col-md-4 col-12">
          <%=render "pages/booking_form"%>

          </div>
        </div>
      </div>
    </div>