<div class="container">
    <div class="filter_bg">
        <div class="row">
            <div class="col-md-2 col-12">
                <select class="form-select mb-2" aria-label="Default select example" style="background-color: white">
                    <option selected>Choose A Brand</option>
                    <option value="1">Audi</option>
                    <option value="2">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                </select>
            </div>
            <div class="col-md-3 col-12">
                <select class="form-select mb-2" aria-label="Default select example" style="background-color: white">
                    <option selected>Choose A Model</option>
                    <option value="1">Audi</option>
                    <option value="2">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                </select>
            </div>
            <div class="col-md-3 col-12">
                <select class="form-select mb-2" aria-label="Default select example" style="background-color: white">
                    <option selected>Body Type</option>
                    <option value="1">Audi</option>
                    <option value="2">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                    <option value="3">Audi</option>
                </select>
            </div>
            <div class="col-md-3 col-12 mb-4">
                <div id="slider"></div>
            </div>
            <div class="col-md-1 col-12 mb-2"><button type="button" class="btn btn-danger">Apply</button></div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-12">
            <a href="#" class="cars">
                <div class="row">
                    <div class="col-md-4 col-12"><%=image_tag "car1.jpg", class: "img-fluid img-round"%></div>
                    <div class="col-md-8 col-12">
                        <div class="cars_details">
                            <span class="badge bg-success">THIS CAR IS AVAILABLE</span>
                            <span class="badge bg-secondary">5 PEOPLE ARE iNTERESTED</span>
                            <div class="clearfix"></div>
                            <h4>Black Cadillac Escalade, 2021</h4>
                            <p>Refundable deposit 5,000 AED, Allowed mileage<br>
                                250 km a day, Free delivery</p>
                            <span class="price1">1,600 AED / day</span>
                            <span class="price2">1,670 AED</span>
                            <div class="clearfix"></div>
                            <span class="rules">Monthly price by request</span>
                            <div class="clearfix"></div>
                            <%=image_tag "stars.png", class: "img-fluid", width: "150"%>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="theme_spacing">
            <div class="container">
                <div class="carstext">
                    <p>
                        <strong>One of the best Business vehicles for rental in Dubai is a BMW 7 Series!</strong><br>
                        BMW 7-Series is made in the best traditions of the German concern. This legendary sedan has
                        excellent dynamics and handling, but at the same time maintains a high level of riding comfort,
                        which is especially valued in the limousine segment for VIPs. The body is made of super-proof
                        steel. <br><br>

                        <strong>Characteristics:</strong><br>
                        * Three-liter turbodiel motor 3.0 liters;<br>
                        * Power 265 hp;<br>
                        * Eight-stage automatic transmission;<br>
                        * Full drive system. <br><br>

                        The car easily accelerates to 100 km/h in just 5.9 seconds. At a speed of 60 km/h, BMW 7
                        accelerates so smooth and silently as if it stands still. <br><br>

                        The navigation system is sensory with detailed graphics. A stroke reserve, fuel residue, and
                        temperature-controlling are translated on the screen. There is a function of visual control of
                        the machine from the outside with the help of cameras. Multimedia iDrive is controlled by
                        gestures. It has additional features such as Internet access and car settings. <br><br>

                        Our Car Rental Market offers to rent a BMW 7 Series in Dubai as well as other BMW cars in
                        favorable conditions from several hours to 30 days or more. We care about your safety, so all
                        BMW are supplied to tenants in perfect technical condition. Just enjoy driving a car. A flexible
                        rental rate of BMW 7 in Dubai will allow you to choose a favorable option. <br><br>

                        With our service, you will be always and everywhere on time. Rent a BMW 7 in Dubai and make sure
                        of the comfort and safety of this legendary sedan. After the reconciliation of the rental
                        conditions, we will deliver the BMW 7 at a convenient place for you.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
function collision($div1, $div2) {
        var x1 = $div1.offset().left;
        var w1 = 40;
        var r1 = x1 + w1;
        var x2 = $div2.offset().left;
        var w2 = 40;
        var r2 = x2 + w2;
    
        if (r1 < x2 || x1 > r2)
            return false;
        return true;
    }
    // Fetch Url value 
    var getQueryString = function (parameter) {
        var href = window.location.href;
        var reg = new RegExp('[?&]' + parameter + '=([^&#]*)', 'i');
        var string = reg.exec(href);
        return string ? string[1] : null;
    };
    // End url 
    // // slider call
    $('#slider').slider({
        range: true,
        min: 1000,
        max: 10000,
        step: 1,
        values: [getQueryString('minval') ? getQueryString('minval') : 3000, getQueryString('maxval') ? getQueryString('maxval') : 6000],
    
        slide: function (event, ui) {
    
            $('.ui-slider-handle:eq(0) .price-range-min').html('AED' + ui.values[ 0 ]);
            $('.ui-slider-handle:eq(1) .price-range-max').html('AED' + ui.values[ 1 ]);
            $('.price-range-both').html('<i>AED' + ui.values[ 0 ] + ' - </i>AED' + ui.values[ 1 ]);
    
            // get values of min and max
            $("#minval").val(ui.values[0]);
            $("#maxval").val(ui.values[1]);
            
            if (ui.values[0] == ui.values[1]) {
                $('.price-range-both i').css('display', 'none');
            } else {
                $('.price-range-both i').css('display', 'inline');
            }
    
            if (collision($('.price-range-min'), $('.price-range-max')) == true) {
                $('.price-range-min, .price-range-max').css('opacity', '0');
                $('.price-range-both').css('display', 'block');
            } else {
                $('.price-range-min, .price-range-max').css('opacity', '1');
                $('.price-range-both').css('display', 'none');
            }
    
        }
    });
    
    $('.ui-slider-range').append('<span class="price-range-both value"><i>AED' + $('#slider').slider('values', 0) + ' - </i>' + $('#slider').slider('values', 1) + '</span>');
    
    $('.ui-slider-handle:eq(0)').append('<span class="price-range-min value">AED' + $('#slider').slider('values', 0) + '</span>');
    
    $('.ui-slider-handle:eq(1)').append('<span class="price-range-max value">AED' + $('#slider').slider('values', 1) + '</span>');
</script>