<%= content_for :nav_header_box do%>
  <h2>№1 Rent a car platform in Dubai</h2>
<p>Are you looking for an easy car hire in Dubai?</p>
<form action= "/car_detail" method= "get">

 <div class="form_bg">
   <div class="input-group">
     <input type="text" class="form-control" placeholder="Search a car for rent, ex. Lamborghini Huracan Evo..." aria-label="Search a car for rent, ex. Lamborghini Huracan Evo..." aria-describedby="button-addon2" name="search">
     <button type="button" class="btn btn-danger"><%=image_tag "search.svg"%>Search</button>  
   </div>
 </div>
</form> 
<%end%> 
<div class="theme_spacing">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-12">
           <div class="row">
             <div class="col-md-6 col-12">
               <figure class="snip1577">
                 <%=image_tag "hvr1.jpg"  %>
                 <figcaption>
                   <h3>Car 1</h3>
                   <h4>Luxery</h4>
                 </figcaption>
                 <a href="#"></a>
               </figure>
             </div>
             <div class="col-md-6 col-12">
               <figure class="snip1577">
                <%=image_tag "hvr2.jpg"  %>
                 <figcaption>
                   <h3>Car 2</h3>
                   <h4>Luxery</h4>
                 </figcaption>
                 <a href="#"></a>
               </figure>
             </div>
             <div class="col-md-12 col-12">
               <figure class="snip1577">
               <%=image_tag "hvr3.jpg"  %>
                 <figcaption>
                   <h3>Car 3</h3>
                   <h4>Luxery</h4>
                 </figcaption>
                 <a href="#"></a>
               </figure>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-12">
           <figure class="snip1577">
           <%=image_tag "hvr4.jpg"  %>
             <figcaption>
               <h3>Car 4</h3>
               <h4>Luxery</h4>
             </figcaption>
             <a href="#"></a>
           </figure>
         </div>
       </div>
     </div>
   </div>


   <div class="theme_spacing">
     <div class="container">

       <div class="hadding">
         <h4>OUR FLEETS TO <span>SERVE</span></h4>
       </div>

       <ul class="filter-menu">
         <li data-target="all">All</li>
         <li data-target="car1">Prestige & Business Cars</li>
         <li data-target="car4">SUV Cars</li>
         <li data-target="car5">Sports Cars</li>
       </ul>

       <ul class="filter-item">
        <% @cars.each do |car| %>
          <li data-item="car1">
            <a href=<%="car_show_detail/#{car.id}"%>>
              <%=image_tag car.image.url  %>
            </a>
          </li>
         <%end%>
       </ul>

     </div>
   </div>
   <div class="clearfix"></div>

   <div class="theme_spacing">
     <div class="container">
       <div class="row">
         <div class="col-md-7 col-12">
           <div class="abt_text">
             <h4>Why Shift Gear Dubai?</h4>
             <p>Welcome to the best car rental market in Dubai. We have collected a huge selection of cars so you can
               choose one to your liking, mood and finance. <br><br>
               We care about each client and try to offer the maximum choice. <br><br>

               If you are on a tight budget then you can rent a car at an affordable price from the Economy category.
               But if you need to emphasize your status, then we offer you a large selection of Luxury cars. <br><br>

               On our car rental market also collected sports cars and supercars. Behind the wheel of these cars you
               will feel the unique excitement and tide of adrenaline. <br><br>

               You can take the car to rent in Dubai and independently feel top speed, fierce dynamics and a high level
               of comfort of each specific model. </p>
             <button type="button" class="btn btn-danger">Learn More</button>
           </div>
         </div>
         <div class="col-md-5 col-12">
            <%=image_tag "abt.jpg", class:"img-fluid"  %>
         </div>
       </div>
     </div>
   </div>


   <div class="theme_spacing">
     <div class="feat_cont">
       <div class="container">
         <div class="wht__had">
           <h6>Why should you hire a car with<br>
             Shift Gear Dubai?</h6>
         </div>
         <div class="row">
           <div class="col-md-4 col-12">
             <div class="feat">
               <%=image_tag "ft1.png", class:"img-fluid" %>
               <h4>Endless Options</h4>
               <p>We offer a wide range of car rentals
                 in Dubai. With us you can rent a car ranging from economy to premium class for a
                 long or short term. Supercars, electric cars, convertibles and SUVs are available.</p>
             </div>
           </div>

           <div class="col-md-4 col-12">
             <div class="feat">
             <%=image_tag "ft2.png", class:"img-fluid" %>
             <h4>24/7 Customer Support</h4>
               <p>Our operators are always in touch 24/7 without breaks and days off. With us you can book a car at a
                 time convenient for you.</p>
             </div>
           </div>

           <div class="col-md-4 col-12">
             <div class="feat">
             <%=image_tag "ft3.png", class:"img-fluid" %>
             <h4>Free delivery</h4>
               <p>
                 We offer free car delivery to any place in Dubai. We deliver a car for rent in perfect technical
                 condition.</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>