<h1>Cars  <%= pluralize(@cars.length, 'Cars')%></h1>
    <table>
<thead>
<tr>
  <th>Name</th>
  <th>Model</th>
  <th>Number</th>
  <th>Price</th>
  <th>Image</th>
</tr>
</thead>
<% @cars.each do |car| %>
<tr>
 <td><%= car.name%></td>
  <td><%= car.model%></td>
  <td><%= car.number%></td>
  <td><%= car.price%></td>
  <td><%= image_tag car.image.url(:thumb)%></td>
</tr>
               
          <% end %>
</tbody>
</table>
