<%if action_name == "index" %>
<div class="nextpagebg01">

  <div class="">
    <div class="container">
      <div class="">
        <div class="row">
          <div class="col-md-10 col-8">
            <p class="wa_text">
              To get the prices call us directly at <strong>+971 55 454 2677</strong> or <strong>Whatapp +971 58 521
                0662</strong>
            </p>
          </div>
          <div class="col-md-2 col-4">
            <div class="dropdown">
              <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                AED
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">AED</a></li>
                <li><a class="dropdown-item" href="#">Dollar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>

    </div>
    <div class="nav_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><%=image_tag "logo.png" , width:"150",  class:"img-fluid",
                   alt: "" %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="prestige-&-business-cars.html"
                    id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Prestige & Business cars
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <% @cars_link[1]&.each do |car| %>
                    <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                        </a></li>
                  <%end %>

                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="suv-cars.html" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    SUV cars
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <% @cars_link[2]&.each do |car| %>
                    <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                        </a></li>
                  <%end%>

                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle " href="sports-&-convertible cars.html" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports & Convertible cars
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% @cars_link[3]&.each do |car| %>
                    <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                        </a></li>
                  <%end %>
                    <!-- <li><a class="dropdown-item" href="/ford_mustang_cabrio">Ford Mustang
                        Cabrio</a></li>
                    <li><a class="dropdown-item" href="/chevrolet_camaro_cabrio">Chevrolet
                        Camaro Cabrio</a></li>
                    <li><a class="dropdown-item"
                        href="/chevrolet_corvette_stingray">Chevrolet Corvette Stingray
                        (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/audi_r8">Audi R8</a></li>
                    <li><a class="dropdown-item" href="/audi_r8_cabrio">Audi R8 Cabrio</a></li>
                    <li><a class="dropdown-item" href="/porsche_cayman">Porsche Cayman</a></li>
                    <li><a class="dropdown-item" href="/porsche_boxter">Porsche Boxter
                        (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/porsche_911">Porsche 911
                        (Coupe)</a></li>
                    <li><a class="dropdown-item" href="/orsche">Porsche 911
                        (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_488_gtb">Ferrari 488 GTB
                        (Coupe)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_488_spyder">Ferrari 488
                        Spyder (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_roma">Ferrari Roma
                        (Coupe)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_portofino">Ferrari
                        Portofino (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_f8_spyder">Ferrari F8
                        Spyder (Cabrio)</a></li>
                    <li><a class="dropdown-item" href="/ferrari_f8">Ferrari F8 (Coupe)</a>
                    </li>
                    <li><a class="dropdown-item" href="/lamborghini_huracan_evo">Lamborghini
                        Huracan Evo</a></li>
                    <li><a class="dropdown-item"
                        href="/lamborghini_huracan_evo_spyder">Lamborghini Huracan Evo
                        Spyder (Cabrio)</a></li> -->
                  </ul>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/about">
                    About Us
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/contact">
                    Contact Us
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="spacing">
      <div class="container">
        <div class="d-flex justify-content-center01">
          <div class="slogan0 slogan col-md-9 col-12">
            <%=yield :nav_header_box%>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<%else%>

<div class="">
  <div class="nextpagebg">

    <div class="">
      <div class="container">
        <div class="menu">
          <div class="row">
            <div class="col-md-10 col-8">
              <p class="wa_text">
                To get the prices call us directly at <strong>+971 55 454 2677</strong> or <strong>Whatapp +971 58
                  521 0662</strong>
              </p>
            </div>
            <div class="col-md-2 col-4">
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  AED
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">AED</a></li>
                  <li><a class="dropdown-item" href="#">Dollar</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>

      </div>
      <div class="nav_menu">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><%=image_tag "logo.png",  width: "150",  class: "img-fluid",
                alt: "" %></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="prestige-&-business-cars.html"
                      id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Prestige & Business cars
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% @cars_link[1]&.each do |car| %>
                      <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                          </a></li>
                    <%end %>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="suv-cars.html" id="navbarDropdownMenuLink" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      SUV cars
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% @cars_link[2]&.each do |car| %>
                      <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                          </a></li>
                    <%end %>

                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="sports-&-convertible cars.html"
                      id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sports & Convertible cars
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% @cars_link[3]&.each do |car| %>
                      <li><a class="dropdown-item" href="/car_show_detail/<%=car.id%>"> <%=car.name%>
                          </a></li>
                    <%end %>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/about">
                      About Us
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/contact">
                      Contact Us
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="slogan0 col-md-6 col-12">
            <%=yield :nav_header_box%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%end%>