<!DOCTYPE html>
<html>
  <head>
    <title>CarRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'carousel.css' %>
    <%= stylesheet_link_tag 'gallery.css' %>
    <%= stylesheet_link_tag 'pages.scss' %>

  </head>

  <body>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
</html>
